---
interface Props {
	title?: string;
	description?: string;
}

const {
	title = "Yusuf Sugiono",
	description = "A lifelong learner. Enthusiastic in learning technology, especially on web development, also machine learning and cloud computing.",
} = Astro.props;

import "@fortawesome/fontawesome-free/css/all.min.css";
import "../assets/css/style.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>

		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta
			property="og:image"
			content="https://github.com/yusufsugiono/yusufsugiono.github.io/blob/master/public/yusufsugiono-opengraph-image.jpg?raw=true"
		/>
		<meta property="og:url" content="https://yusufsugiono.my.id" />
		<link rel="icon" type="image/vnd.icon" href="/favicon/favicon.ico" />
		<meta property="og:description" content={description} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="yusufsugiono.github.io" />
		<meta property="twitter:url" content="https://yusufsugiono.my.id" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta
			name="twitter:image"
			content="https://github.com/yusufsugiono/yusufsugiono.github.io/blob/master/public/yusufsugiono-opengraph-image.jpg?raw=true"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
