---
interface Props {
	title?: string;
	description?: string;
	bodyClass?: string;
	image?: string;
	tags?: string[];
	pubDate?: string;
}

const ogImageDefault = "https://github.com/yusufsugiono/yusufsugiono.github.io/blob/master/public/yusufsugiono-opengraph-image.jpg?raw=true";

const {
	title = "Yusuf Sugiono",
	description = "A lifelong learner. Enthusiastic in learning technology, especially on web development, also machine learning and cloud computing.",
	bodyClass = "",
	image = ogImageDefault,
	tags = [],
	pubDate = "",
} = Astro.props;

const keywords = tags.join(', ');

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

import "@fortawesome/fontawesome-free/css/all.min.css";
import "../assets/css/style.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
		<link rel="canonical" href={canonicalURL} />

		<meta name="description" content={description} />
		{keywords && <meta name="keywords" content={keywords} />}
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content={image} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:locale" content="id_ID" />
		<meta property="og:site_name" content="Yusuf Sugiono" />
		<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
		<meta property="og:description" content={description} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="yusufsugiono.my.id" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />
		<meta name="twitter:site" content="@ysf_sugiono" />

		{pubDate && (
			<script type="application/ld+json" set:html={JSON.stringify({
				"@context": "https://schema.org",
				"@type": "Article",
				headline: title,
				description: description,
				datePublished: pubDate,
				keywords: keywords,
				image: image,
				url: canonicalURL,
				author: {
					"@type": "Person",
					name: "Yusuf Sugiono",
					url: "https://yusufsugiono.my.id",
				},
			})} />
		)}
	</head>
	<body class={bodyClass}>
		<slot />
	</body>
</html>
